<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.foodrecommend.mapper.FoodSkuMapper">

    <resultMap id="BaseResultMap" type="com.example.foodrecommend.beans.FoodSku">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="foodStats" column="food_stats" jdbcType="VARCHAR"/>
            <result property="foodImg" column="food_img" jdbcType="VARCHAR"/>
            <result property="salesNum" column="sales_num" jdbcType="INTEGER"/>
            <result property="money" column="money" jdbcType="DECIMAL"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,food_stats,
        food_img,sales_num,money,
        create_time,update_time
    </sql>

    <select id="selectSalesNumByOneMerchant" resultType="com.example.foodrecommend.beans.FoodSku">
        SELECT f.id, f.name, f.food_stats, f.food_img, f.sales_num, f.money, f.create_time, f.update_time, f.merchant_id
        FROM food_sku f
         JOIN (
            SELECT merchant_id, MAX(sales_num) AS max_sales_num
            FROM food_sku
            GROUP BY merchant_id
        ) max_sales ON f.merchant_id = max_sales.merchant_id AND f.sales_num = max_sales.max_sales_num
        ORDER BY f.sales_num DESC;
    </select>

    <select id="selectFoodAndMerchant" resultType="com.example.foodrecommend.dto.FoodSkuDto">
        SELECT
            f.*,
            m.star,
            (f.sales_num * m.star) AS scoreWeightSales
        FROM
            food_sku f
                JOIN
            merchant m ON f.merchant_id = m.id
        ORDER BY
             scoreWeightSales DESC
    </select>
</mapper>
